body {
    background-color: #242424;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;

}

h1 {
    color: #fff;

}

.main_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.main_button:hover {
    background-color: #7a8a35;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    /* Removes the default link underline */
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.button-link:hover {
    background-color: #0056b3;
    /* Darkens the button when hovered */
}