* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

body {
    background-color: #141417;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.card {
    margin-top: 20px;
    background-color: rgb(132, 182, 223);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 500px;
}

input,
select,
button {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 8px;
    width: 100%;
}

.loginform {
    height: auto;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: #2ecc6b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

button:hover {
    background-color: #2ab86a;
}

.navarea {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.navbar {
    margin: 0;
    background: #69df79;
    /* Deep dark blue for high contrast */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #ffffff;
    /* Yellow accent for visibility */
    border-radius: 10px;
    height: 80px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    /* Larger font for readability */
    font-weight: bold;
    padding: 15px;
    /* Large clickable area */
    display: inline-block;
}

.navbar a:hover {
    background: #34495e;
    border-radius: 5px;
}

.logout-btn {
    background: #ff4747;
    border-radius: 5px;
}

.logo {
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 170px;
    background-position: center;
}

.emptySpace {
    width: 5vw;
}