* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

}

body {
    background-color: #242424;
    padding: 20px;
    color: aliceblue;
}

.card {
    background-color: rgb(71, 124, 160);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    padding: 12px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 8px;
    width: 100%;
}

button {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

button:hover {
    background-color: #2ab86a;
}